:root {
    --border-color: #323336;
    --background-color: #262928;
    --button-color: #007aff;
    --button-color-hover: #0060d8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Medida para monitor de dektop */
@media (min-width: 1537px) {
    .general-div {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #1b1d1c;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Conteúdo página*/
    .content-div {
        display: flex;
        width: 1750px;
        height: 650px;
        padding: 30px;
        border: 3px solid var(--border-color);
        font-family: 'SUSE', sans-serif;
        color: white;
    }

    /* ELEMENTOS LADO ESQUERDO */
    .elements-left {
        display: flex;
        flex-direction: column;
        margin: 145px;
        margin-left: 160px;
        height: 250px;
    }

    .button-start {
        color: white;
        font-size: 20px;
        padding: 12px 24px;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        background-color: var(--button-color);
        transition: background-color 0.3s ease;
    }

    .button-start:hover {
        background-color: var(--button-color-hover);
    }
    /*  */

    /* ELEMENTOS LADO DIREITO */
    .elements-right {
        width: 700px;
        height: 596px;
        margin-left: 40px;
        border-radius: 25px;
        border: 2px solid var(--border-color);
    }

    .title-chat {
        display: flex;
        width: 100%;
        height: 85px;
        padding: 20px;
        background-color: var(--background-color);
        border-top-left-radius: 23px;
        border-top-right-radius: 23px;
    }

    .content-chat {
        width: 697px;
        height: 441px;
        background-color: white;
    }

    /* Camada que está por cima do chat para bloquear ações no conteúdo */
    .overlay-bloqueado {
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        background: transparent;
        cursor: not-allowed;
        z-index: 10;
    }

    .div-input-chat {
        width: 100%;
        height: 66px;
        display: flex;
        border-bottom-left-radius: 23px;
        border-bottom-right-radius: 23px;
        background-color: var(--background-color);
    }

    .input-mensg {
        width: 545px;
        height: 40px;
        margin-top: 13px;
        margin-left: 45px;
        border: none;
        border-radius: 15px;
        padding-left: 20px;
        font-size: 18px;
        outline: none;
    }

    .div-icon-sendDisabled {
        width: 60px;
        height: 40px;
        margin-top: 13px;
        margin-left: 20px;
        border-radius: 100px;
        border: 2px solid var(--border-color);
        background-color: var(--button-color);
        transition: background-color 0.3s ease;
        pointer-events: none;
        cursor: not-allowed;
    }

    .div-icon-send {
        width: 60px;
        height: 40px;
        margin-top: 13px;
        margin-left: 20px;
        border-radius: 100px;
        cursor: pointer;
        border: 2px solid var(--border-color);
        background-color: var(--button-color);
        transition: background-color 0.3s ease;
    }

    .div-icon-send:hover {
        background-color: var(--button-color-hover);
    }

    .icon-send {
        filter: invert(1);
        width: 35px;
        height: 35px;
        margin-left: 10px;
    }
    /*  */

    /* Fim conteúdo página */

    /* Rodape */
    .footer {
        width: 100%;
        height: 90px;
        background-color: #323336;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        box-sizing: border-box;
    }

    .footer-esquer {
        font-family: "SUSE", sans-serif;
        font-size: 12px;
        flex: 12;
        color: white;
    }

    .footer-centro {
        flex: 10.5;
    }

    .footer-direita {
        flex: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }

    .icon-x,
    .icon-instagram,
    .icon-yt,
    .icon-twitch,
    .icon-ttk,
    .icon-discord {
        cursor: pointer;
        font-size: 20px;
        color: white;
    }

    .icon-x:hover,
    .icon-instagram:hover,
    .icon-yt:hover,
    .icon-twitch:hover,
    .icon-ttk:hover,
    .icon-discord:hover {
        background-color: #555;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.1);
    }

    /* Fim rodape */
}