* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Medida para monitor de dektop */
@media (min-width: 1537px) {  /*Abaixo disso será com medidas para notebooks*/
    .general-div {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #1b1d1c;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Conteúdo página*/
    .content-div {
        display: flex;
        width: 1750px;
        height: 650px;
        padding: 30px;
        border: 2px solid red;
        font-family: 'SUSE', sans-serif;
        color: white;
    }

    .elements-left {
        display: flex;
        flex-direction: column;
        margin: 145px;
        margin-left: 200px;
        height: 250px;
    }

    .button-start {
        background-color: #007aff;
        color: white;
        padding: 12px 24px;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .button-start:hover {
        background-color: #0060d8;
    }
    /* Fim conteúdo página */

    /* Rodape */
    .footer {
        width: 100%;
        height: 90px;
        background-color: #323336;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        box-sizing: border-box;
    }

    .footer-esquer {
        font-family: "SUSE", sans-serif;
        font-size: 12px;
        flex: 12;
        color: white;
    }

    .footer-centro {
        flex: 10.5;
    }

    .footer-direita {
        flex: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }

    .icon-x,
    .icon-instagram,
    .icon-yt, 
    .icon-twitch,
    .icon-ttk,
    .icon-discord {
        cursor: pointer;
        font-size: 20px;
        color: white;
    }

    .icon-x:hover,
    .icon-instagram:hover,
    .icon-yt:hover, 
    .icon-twitch:hover,
    .icon-ttk:hover,
    .icon-discord:hover {
        background-color: #555;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
        transform: scale(1.1);
    }
    /* Fim rodape */
}